body {
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* header */

.container-header {
  background-color: #1f2937;
  color: #e5e7eb;
  padding: 10px 200px;
}

.header {
  height: 400px;
  display: flex;
  flex-direction: column;
}

.navigation-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
}

.nav-bar {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
  font-size: 18px;
}

a {
  text-decoration: none;
  color: #e5e7eb;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
  flex: 1;
}

.main {
  width: 400px;
}

.header-main {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
  margin-bottom: 10px;
}

.secondary-main {
  font-size: 18px;
  color: #e5e7eb;
  margin-bottom: 10px;
}

.signup {
  padding: 8px 20px;
  background-color: #3882f6;
  font-weight: 900;
  color: #f9faf8;
  border-radius: 8px;
  font-size: 15px;
}

.image-placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
}

/*  info cards*/

.container-card {
  padding: 40px;
  /* border: 1px solid black; */
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card-header {
  font-size: 36px;
  color: #1f2937;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  gap: 30px;
}

.content {
  width: 150px;
}

.card-description {
  margin-top: 10px;
}

.card-image {
  height: 400px;
  border: 1px solid #3882f6;
  border-radius: 6px;
}

/* quote section */

.container-quote {
  height: 350px;
  background-color: #e5e7eb;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote {
  width: 820px;
  font-size: 36px;
  font-style: italic;
  color: #1f2937;
  flex-shrink: 1;
}

.author-quote {
  width: 750px;
  text-align: right;
  font-size: 25px;
  font-weight: 900;
}

/* Call to Action */

.container-action {
  height: 250px;
  /* padding: 20px; */
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f9faf8;
}

.action {
  background-color: #3882f6;
  width: 1000px;
  height: 120px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 15px;
}

.action-header {
  font-size: 19px;
  font-weight: 900;
}

.container-footer {
  height: 50px;
  background-color: #1f2937;
  color: #f9faf8;
  font-size: 0.9em;
  display: flex;
  justify-content: center;
  align-items: center;
}
