body, html {
	width: 100%;
	height: 100%;
	font-family: "Roboto", sans-serif;
/*	stretches and fill the entire image to the webpage*/
	background: url(header.jpg) no-repeat center center fixed; 
	-moz-background-size: cover;
	-o-background-size: cover;
/*image adapts to the page	*/
	background-size: cover;
}

h1 {
	padding-top: 16rem;
	color: #001F3F;
	font-size: 3rem;

}

h2 {
	color: #001F3F;
	font-size: 2rem;

}


.buffer {
	height: 0.5rem;
}

hr {
    margin: 20px auto;
    color: #001F3F;
    border: 3px solid #001F3F;
    max-width: 75px;
    opacity: 1;  
}

.btn-setup {
	display: flex;
/*	margin-left: 4rem;
	border-color: ;*/
}


.btn {
	font-weight: 700;
	border-radius: 300px;
	text-transform: uppercase;
}

.btn-primary {
	background-color: #001F3F;
	border-color: #001F3F;
}

.btn-xl {
/*	padding sides, top&btm*/
	padding: 1rem 2rem;
}

.copyright {
	float: right;
	color: #001F3F;
	font-size: .8rem;
}

.github:hover {
	text-decoration: underline;
}